%h1 Influence of Facial Impression Experiment

%p Please enter your name, and click "Start Experiment"
= form_for @user do |f|
  = f.text_field :name
  = f.submit "Start Experiment"

%p
  or see
  = link_to "existing users", users_path
  = '/'
  = link_to "all experiments results", experiments_path

- (1..25).each do |x|
  = image_tag asset_path("faces/face#{x}.jpg"), style: " width: 1px; height: 1px"
