.face
  = image_tag asset_path("faces/face#{@experiment.face}.jpg")

%ul
  %li= "He gets #{1000 - @experiment.share}"
  %li= "You get #{@experiment.share}"

= form_for @experiment do |f|
  = f.hidden_field :accept, value: true
  = f.hidden_field :response_time
  = f.submit "Accept", class: 'updatetime'
  = f.submit "Reject", class: 'updatetime'

:javascript
  $(function() {
    var start = Date.now();
    $('.updatetime').click(function() {
      $('#experiment_response_time').val(Date.now()-start);
    })
  })
